:root{
    /* Color Theme Swatches in Hex */
    --cor1:#FAF0CA; 
    --cor2: #9097C0;
    --cor3:#EE964B;
    --cor4: #F95738; 
    --cor5: #0D3B66; 
    --cor6: #5318a0;
    }
*{ margin:0; padding:0;}

body{ 
    font:100% normal Arial, Helvetica, sans-serif;
    background:#161712;
    color: white;
    text-align: center;
}

h1{
    text-align: center;
    font-size: 3em;
    text-shadow: 1px 2px 2px red;
    margin: 15px 0;
}
form{
    max-width: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    border: 1px solid white;
    margin: 90px auto;
}
form span{
    margin: 10px 0;
}
form select{
    padding: 5px;
    width: 150px;
    height: 25px;
    border-radius: 5px;
    border: none;
    margin: 5px 0;  
}
form input[type="submit"]{
    padding: 5px;
    width: 80px;
    height:30px;
    border-radius: 5px;
    border: none;
    margin: 20px 0;
    background-color: red;
    color: white;
}

.remove{
    display: none;
}

footer{
    background-color: black;
    color: white;
    font-size: 0.8em;
    text-align: center;
    padding: 10px;
    position:fixed;
    bottom: 0;
    width: 100%;
}